<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character.name }} - Character Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shards/cyberpunk.css' %}">    
</head>
<body>
    <div class="container" style="margin: 2%;">
        <header class="my-4">
            <h1 class="cyberpunk glitched">{{ character.name }}</h1>
            <p class="cyberpunk">{{ character.description|safe }}</p>
        </header>
        <h2 class="cyberpunk">Lore</h2>
        <section class="cyberpunk black">
            <div class="boxtree">
            {% if visible_lore %}
            
                    {% for lore in visible_lore %}
                        <div class="children1 width1">
                            <h3>{{ lore.title }}</h3>
                            <p>{{ lore.content|safe }}</p>
                        </div>

                    {% endfor %}
            {% else %}
                <p class="alert alert-info">No lore available for your group at this time.</p>
            {% endif %}
        </div>
        </section>
    </div>

    {% if show_notes %}
    <div class="cyberpunk">
        <h2 class="cyberpunk">Notes</h2>
        <ul class="cyberpunk">
            {% for note in notes %}
            <li class="cyberpunk">
                <strong>{{ note.created_at|date:"M d, Y H:i" }}:</strong> {{ note.content }}
            </li>
            {% empty %}
            <li class="cyberpunk">No notes yet.</li>
            {% endfor %}
        </ul>
    
        <h3 class="cyberpunk">Add a Note</h3>
        <form method="post" style="cyberpunk">
            {% csrf_token %}
            {{ note_form.as_p }}
            <button type="submit" class="cyberpunk">Add Note</button>
        </form>
    </div>    
    {% else %}
    <div class="cyberpunk">
        <div class="boxtree">
            <div class="pending children0 width1" style="--pending-text: 'FORBIDDEN';">
                <h2 class="cyberpunk">Notes</h2>
            </div>
        </div>
    </div>    
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>