<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shards/cyberpunk.css' %}">
    <title>Sign-in Page</title>
    <style>
        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="sign-in-container">
        <section class="cyberpunk">
        <h2 class="cyberpunk">Enter your chat name:</h2>
        <form method="post">
            {% csrf_token %}
            <input class="cyberpunk" type="text" name="username" required>
            <button class="cyberpunk" type="submit">Join the chat_</button>
        </form>
        </section>
    </div>
</body>
</html>
