<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shards/cyberpunk.css' %}">
    <title>Enter Access Code</title>
</head>
<style>
    body {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .container {
        text-align: center;
        max-width: 500px;
    }    
</style>
<body>
    <div class=".container">
    <section class="cyberpunk">
    <h2 class="cyberpunk">Enter Access Code</h2>
    {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
    <form method="post">
        {% csrf_token %}
        <input class="cyberpunk" type="password" name="password" id="password" required>
        <button type="submit" class="cyberpunk">Submit_</button>
    </form>
    </section>
    </div>
</body>
</html>
